<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task List App</title>

	<!--css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Bootstrap Optional Theme -->
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<!-- header -->
	<header id="site-header">
		<div class="navbar navbar-inverse bg-inverse">
			
			<a href="./" class="navbar-brand">
				Task List
			</a>
			
			
		</div>
	</header>


	<!-- main -->
	<main id="site-main">
		<div class="container">
			<%- body %>
		</div>
	</main>



	<!-- footer -->
	<footer id="site-footer">
		Copyright &copy;2018 Task List
	</footer>

	<!-- JQuery Javascript -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

	<!-- Bootscript JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>