<div class="jumbotron text-center">
	<h1>
		Home Page
	</h1>

	<a href="/tasks" class="btn btn-lg btn-primary">See Tasks
	</a>

	<!-- <a href="./tasks" class="btn btn-lg btn-primary">See Tasks1
	</a>

	<a href="../tasks" class="btn btn-lg btn-primary">See Tasks2
	</a> -->
</div>
